
// Colors
// ======
// -- By color.
$color-navy:     #001f3f;
$color-blue:     #0074D9;
$color-aqua:     #7FDBFF;
$color-teal:     #39CCCC;
$color-olive:    #3D9970;
$color-green:    #2ECC40;
$color-lime:     #01FF70;
$color-yellow:   #FFDC00;
$color-orange:   #FF851B;
$color-red:      #FF4136;
$color-maroon:   #85144B;
$color-fuchsia:  #F012BE;
$color-purple:   #B10DC9;
$color-black:    #111111;
$color-gray:     #AAAAAA;
$color-silver:   #DDDDDD;
$color-white:    #FFFFFF;

// -- By usage.
$color-site-title: lighten($color-black, 15%);
$color-site-description: $color-gray;

$color-background-body: $color-white;
$color-background-screen-reader: #f1f1f1;
$color-background-hr: $color-gray;
$color-background-button: #e6e6e6;
$color-background-pre: #f1f1f1;
$color-background-ins: #fff9c0;

$color-text-main: lighten($color-black, 10%);
$color-text-headers: lighten($color-black, 15%);
$color-text-screen-reader: #21759b;
$color-text-input: lighten($color-black, 30%);
$color-text-input-focus: #111;

$color-link: $color-maroon;
$color-link-visited: $color-maroon;
$color-link-hover: $color-blue;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;

// Fonts
// =====

// -- "helvetica"
$font-family-helvetica: helvetica, sans-serif;
$font-weight-normal-helvetica: normal;
$font-weight-bold-helvetica: bold;

// -- "monaco"
$font-family-monaco: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-weight-normal-monaco: normal;
$font-weight-bold-monaco: bold;

// -- "courier"
$font-family-courier: Courier, monospace;
$font-weight-normal-courier: normal;
$font-weight-bold-courier: bold;

// Define variables for usage of fonts, using the vars defined above.

// -- body/copy text
$body-font-family: $font-family-helvetica;
$body-font-weight-normal: $font-weight-normal-helvetica;
$body-font-weight-bold: $font-weight-bold-helvetica;

// -- form elements (inputs, textareas, buttons)
$form-font-family: $font-family-helvetica;
$form-font-weight-normal: $font-weight-normal-helvetica;
$form-font-weight-bold: $font-weight-bold-helvetica;

// -- <code> tags
$code-font-family: $font-family-monaco;

// -- <pre> tags
$pre-font-family: $font-family-monaco;

// Widths
// ======

// Somewhat arbitrary horizontal unit. More consistent than not having a
// consistently referenced unit.
$horizontal-unit: 10px;

// Padding applied to each side of layout.
$layout-padding: $horizontal-unit;

// Breakpoints.
$bp-lg-min: 1180px + ($layout-padding*2);
$bp-md-max: $bp-lg-min - 1;
$bp-md-min: 678px;
$bp-sm-max: $bp-md-min - 1;

// Content widths for different breakpoints.
// Generally, each of these should equal to the desired breakpoint value
// minus $layout-padding*2. There is no "sm" because we just fill the browser
// width as available below md.
$cw-lg: $bp-lg-min - ($layout-padding*2);
$cw-md: $bp-md-min - ($layout-padding*2);

// Vertical rhythm
// ===============
// Set the vertical unit to a value that can easily be divided by your target base line-height.
// For example, if your desired base line height is 22px, maybe set the vertical unit to 11px.
//
// Ultimately, every vertical size that will impact the height/position of content should
// be set relative to the vertical unit using a 1/16 value multiplier. This way various
// page elements can easily/automatically sync up back up with the vertical position of
// other elements.
//
// Below is a list of the 1/16 decimal values between 0 and 1 for reference:
//
// 0.0625 = 1/16
// 0.125  = 2/16  (1/8)
// 0.1875 = 3/16
// 0.25   = 4/16  (1/4)
// 0.3125 = 5/16
// 0.375  = 6/16  (3/8)
// 0.4375 = 7/16
// 0.5    = 8/16  (1/2)
// 0.5625 = 9/16
// 0.625  = 10/16 (5/8)
// 0.6875 = 11/16
// 0.75   = 12/16 (3/4)
// 0.8125 = 13/16
// 0.875  = 14/16 (7/8)
// 0.9375 = 15/16
//
$vertical-unit: 12px;

// Text sizes
// ==========

// Use this as your base font-size and multiply/divide it as
// needed to achieve relative sizing. Any value is fine as
// a divider/multiplier, since vertical rhythm isn't affected
// by font size (since we set line height via $vertical-unit).
$font-size-base: 16px;

// h1
$font-size-h1:   $font-size-base * 2.5;
$line-height-h1: $vertical-unit * 5;
// h2
$font-size-h2:   $font-size-base * 2;
$line-height-h2: $vertical-unit * 4;
// h3
$font-size-h3:   $font-size-base * 1.5;
$line-height-h3: $vertical-unit * 3;
// h4
$font-size-h4:   $font-size-base * 1.25;
$line-height-h4: $vertical-unit * 2.5;
// h5
$font-size-h5:   $font-size-base * 1.15;
$line-height-h5: $vertical-unit * 2.25;
// h6
$font-size-h6:   $font-size-base;
$line-height-h6: $vertical-unit * 2;

