
// Colors
// ======
// -- By color.
$color-navy:     #001f3f;
$color-blue:     #0074D9;
$color-aqua:     #7FDBFF;
$color-teal:     #39CCCC;
$color-olive:    #3D9970;
$color-green:    #2ECC40;
$color-lime:     #01FF70;
$color-yellow:   #FFDC00;
$color-orange:   #FF851B;
$color-red:      #FF4136;
$color-maroon:   #85144B;
$color-fuchsia:  #F012BE;
$color-purple:   #B10DC9;
$color-black:    #111111;
$color-gray:     #AAAAAA;
$color-silver:   #DDDDDD;
$color-white:    #FFFFFF;

// -- By usage.
$color-background-body: $color-white;
$color-background-screen-reader: #f1f1f1;
$color-background-hr: $color-gray;
$color-background-button: #e6e6e6;
$color-background-pre: $color-silver;
$color-background-ins: #fff9c0;

$color-text-main: #404040;
$color-text-headers: $color-gray;
$color-text-screen-reader: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;

$color-link: $color-blue;
$color-link-visited: $color-blue;
$color-link-hover: $color-navy;

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;

// Other common style defs.
// ========================
// Content box shadows.
$content-box-shadow: 0 4px 6px rgba(0,0,0,0.12);

// Typography and vertical rhythm.
// ===============================

// -- "helvetica"
$font-family-helvetica: helvetica, sans-serif;
$font-weight-normal-helvetica: normal;
$font-weight-bold-helvetica: bold;

// -- "monaco"
$font-family-monaco: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-weight-normal-monaco: normal;
$font-weight-bold-monaco: bold;

// -- "courier"
$font-family-courier: "Courier 10 Pitch", Courier, monospace;
$font-weight-normal-courier: normal;
$font-weight-bold-courier: bold;

// Define variables for usage of fonts, using the vars defined above.

// -- body/copy text
$body-font-family: $font-family-helvetica;
$body-font-weight-normal: $font-weight-normal-helvetica;
$body-font-weight-bold: $font-weight-bold-helvetica;

// -- form elements (inputs, textareas, buttons)
$form-font-family: $font-family-helvetica;
$form-font-weight-normal: $font-weight-normal-helvetica;
$form-font-weight-bold: $font-weight-bold-helvetica;

// -- <code> tags
$code-font-family: $font-family-monaco;

// -- <pre> tags
$pre-font-family: $font-family-monaco;

// Set the vertical unit to a value that is smaller than
// your target $line-height-base value (below) and can
// be multiplied by a value such as 1.125 or 1.25 so they
// can relateively quickly sync back up w/the line height.
//
// In short, fractional values of $vertical-unit should be
// increments of .125 (i.e., 1/8 of a vertical unit) .
$vertical-unit: 16px;

// Use this as your base font-size and multiply/divide it as
// needed to achieve relative sizing. Any value is fine as
// a divider/multiplier, since vertical rhythm isn't affected.
$font-size-base: 18px;

// Use're using same unit of measure (px) for font size
// and line-height (not a line-height that's relative to
// font-size) so vertical rhythm is possible.
$line-height-base: $vertical-unit * 1.5;

// h1
$font-size-h1: $font-size-base * 2.45;
$line-height-h1: $line-height-base * 1.75;
// h2
$font-size-h2: $font-size-base * 1.5;
$line-height-h2: $line-height-base * 1.125;
// h3
$font-size-h3: $font-size-base * 1.25;
$line-height-h3: $line-height-base * 1.125;
// h4
$font-size-h4: $font-size-base * 1.25;
$line-height-h4: $line-height-base*1.125;
// h5
$font-size-h5: $font-size-base * 1.15;
$line-height-h5: $line-height-base*0.875;
// h6
$font-size-h6: $font-size-base;
$line-height-h6: $line-height-base;

// Dimensions
// ==========
$layout-width-max: 1140px;

// Somewhat arbitrary horizontal unit. Not used in Susy
// configuration, but will be more consistent than using ems.
$horizontal-unit: 16px;

// Breakpoints.
$bp-xs-max: 479px;

$bp-sm-min: $bp-xs-max + 1;
$bp-sm-max: 767px;

$bp-md-min: $bp-sm-max + 1;
$bp-md-max: 991px;

$bp-lg-min: $bp-md-max + 1;
$bp-lg-max: 1119px;

$bp-xl-min: $bp-lg-max + 1;

// Layout (Susy)
// =============
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $layout-width-max,
  container-position: center,
  columns: 9, // use cols for largest size
  gutters: .1,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide, // *** one of "show" or "hide" to view grid visualization ***
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: false,
  )
);
