html {
	box-sizing: border-box;
	font-size: $font-size-base;
}
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	color: $color-text-main;
	font-family: $body-font-family;
	font-size: $font-size-base;
	font-weight: $body-font-weight-normal;
	line-height: $line-height-base;
}

button,
input,
select,
textarea {
	color: $color-text-input;
	font-family: $form-font-family;
	font-size: $font-size-base;
	font-weight: $form-font-weight-normal;
	line-height: $line-height-base;
}

a {
	transition: all 0.15s;
	&,
	&:link {
		color: $color-link;
		text-decoration: none;
	}

	&:visited {
		color: $color-link-visited;
		text-decoration: none;
	}
	&:hover,
	&:active,
	&:focus {
		color: $color-link-hover;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $color-text-headers;
	font-family: $font-family-helvetica;
	font-weight: $font-weight-bold-helvetica;
	margin: 0 0 $vertical-unit;
}

h1 {
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}
h2 {
	font-size: $font-size-h2;
	line-height: $line-height-h2;
}
h3 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}
h4 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}
h5 {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}
h6 {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}


p {
	margin: 0 0 $vertical-unit;
}

ol, ul {
	margin: 0 0 $vertical-unit;
	padding-left: ($horizontal-unit * 2);
	li & {
		margin: 0;
	}
}

dl {
	margin: 0 0 $vertical-unit;
}
dd {
	margin-left: $horizontal-unit;
}


dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $horizontal-unit;
}

address {
	margin: 0 0 $vertical-unit;
}

table {
	margin: 0 0 $vertical-unit;
	table {
		margin: 0;
	}
}

pre {
	@include pug-tab-size(2);
	background: $color-background-pre;
	font-family: $pre-font-family;
	font-size: 0.75em; // ems (not worried about nested <pre>s)
	line-height: $vertical-unit * 1.5; // multiply by a .25-divisible value to (easily) maintain vert rhythm
	margin-bottom: $vertical-unit;
	max-width: 100%;
	overflow: auto;
	padding: $vertical-unit $horizontal-unit;
}

code, kbd, tt, var {
	font-family: $code-font-family;
	font-size: 0.875em; // ems, not worried about nesting
}

abbr, acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark, ins {
	background: $color-background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

figure {
	margin: 0 0 $vertical-unit;
}
img {
	max-width: 100%;
	height: auto;
}

// Wrap form fields with a div that has the "form-item" class.
.form-item {
	margin-bottom: $vertical-unit/2;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color-border-button;
	border-radius: 3px;
	background: $color-background-button;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	display: inline-block;
	font-size: $font-size-base * 0.75;
	height: $vertical-unit * 1.75;
	line-height: 1.25; // relative is fine here since we're assigning a height.
	padding: 0 $horizontal-unit 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: $color-border-button-hover;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: $color-border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color-text-input;
	border: 1px solid $color-border-input;
	border-radius: 3px;
	box-sizing: border-box; // override normalize
	display: inline-block;
	font-size: $font-size-base * 0.75;
	width: 100%;
	&:focus {
		color: $color-text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	height: $vertical-unit * 2;
	line-height: 1.25; // relative is fine here since we're assigning a height too.
	padding: 0 ($horizontal-unit/4);
}

textarea {
	padding-left: ($horizontal-unit/4);
	width: 100%;
}

// Make sure embeds and iframes fit their containers.
embed,
iframe,
object {
	max-width: 100%;
}
